<!DOCTYPE html>
<html>
<head>
    <title><%= titel %></title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='stylesheets/lightbox.css' />
    <link rel='stylesheet' href='stylesheets/app-style.css' />

</head>
<body>
<header>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h1>SMK colorsearch</h1>
                    <p style="padding:40px;"></p>
                    <p></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div id="newstuff" class="row">
        <div class="gallery" id="gallery-container">
            <% for(var i=0; i<artworks.length; i++) {%>
            <div class="col-thumbnail col-lg-3 col-md-4 col-sm-6">
                <a href="<%= artworks[i].medium_image_url %>" class="thumbnail" data-lightbox="gallery" data-title="<%= artworks[i].title_dk %>">
                    <img src="<%= artworks[i].medium_image_url %>" alt="<%= artworks[i].title_dk %>" title="<%= artworks[i].artist_name %>">
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>

<script type="text/javascript" src="javascripts/jquery-min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/lightbox.js"></script>

</body>
</html>

